* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  background-color: burlywood;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  max-width: 940px;
  font-size: clamp(23px, 5.5vw, 50px);
  line-height: 1.1;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 40px 0;
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

